@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

.skillContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(60deg, #cc2b5e, #753a88);
    padding: 2rem;
    margin-top: -15rem;
}

.skillHeading {
    color: white;
    font-family: 'Kanit', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 2.8rem;
}

.abilities {
    color: #FFE600;
    font-family: 'Kanit', sans-serif;
}

.skillInnerContainer {
    width: 95%;
    padding: 1rem;
    height: 170vh;
    background: #c8c8c83c;
    border-radius: 12px;
    display: grid;
}

.firstList{
    display: flex;
    justify-content: center;
    align-items: center;
}
