.carouselOuterContainer {
    margin-top: 6rem;
    height: 60vh;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.carousels {
    overflow: hidden;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    margin: 0rem 1rem;
}

.carouselContainer {
    position: relative;
    height: 55vh;
    width: 40vw;
    margin: 2rem 0rem;
    border-radius: 12px;
    box-shadow: 1px 2px 12px 0 #e7e7e7;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.carImg {
    box-shadow: 1px 2px 12px 0 #e7e7e7;
    border-radius: 12px;
    position: absolute;
    height: 55vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40vw;
    z-index: -1;
    background-size: cover;
}