.projectMainBox {
    width: 100vw;
    display: inline;
    scroll-behavior: smooth;
}

.projectBox {
    position: relative;
    display: inline-block;
    text-align: start;
    margin: 13rem 2rem 2rem 2em;
    width: 28rem;
    background: #4444449c;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 3rem;
    justify-content: center;
    align-items: center;
}

.projectBox:hover .intro{
    box-shadow: 1px 2px 12px 1px #2c2c2c;
    visibility: visible;
    opacity: 1;
}

.demoImg {
    height: 20rem;
    width: 26rem;
    margin: 1rem;
    border-radius: 3rem;
    box-shadow: 0 3px 8px 0 #0000004d;
    object-fit: cover;
}

.projectTitle {
    font-size: 1.6rem;
    margin: 0 1.5rem;
    text-align: center;
}


.projectBtn {
    padding: 1rem 2rem;
    background: none;
    color: #AC4CE4;
    font-weight: 600;
    border: 2px solid #AC4CE4;
    border-radius: 6px;
    cursor: pointer;
    margin: 1.6rem 3rem;
    transition: all .3s ease-in-out;
}

.gitHubBtn:hover {
    transform: scale(1.1);
    background: #AC4CE4;
    color: #fff;
}


.liveDemoBtn {
    background: #AC4CE4;
    color: #fff;
}

.liveDemoBtn:hover {
    background: none;
    color: #AC4CE4;
    border: 2px solid #AC4CE4;
}

.liveDemoBtn:active {
    transform: scale(.9);
}

.desc {
    color: #b3b3b3;
    font-size: 1rem;
    margin: 0 1.5rem;
}

.intro {
    position: absolute;
    top: 13rem;
    border-radius: 2rem;
    background-color: #2c2c2c58;
    visibility: hidden;
    opacity: 0;
    backdrop-filter: blur(4px);
    transition: all .3s ease-in-out;
}

