.SocialMediaList2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 35.5%;
}

.sMImg {
    height: 2rem;
    margin-top: 16rem;
    border-radius: 50%;
    margin-right: 4rem;
    padding: .5rem;
    background: linear-gradient(145deg, #ffffff, #dfdfdf);
    box-shadow: 5px 5px 10px #c1c1c1,
        -5px -5px 10px #ffffff;
    border: none;
    outline: none;
    transition: all .3s ease-in-out;
}


.sMImg:hover {
    background: #f8f8f8;
    box-shadow: inset 10px 10px 20px #d3d3d3,
        inset -10px -10px 20px #ffffff;
}