@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

.home {
    height: 120vh;
    text-align: center;
}

.titleHeading {
    margin-top: 2.7rem;
    font-family: 'Kanit', sans-serif;
    font-size: 3rem;
}


.para {
    font-size: 1.5rem;
    font-weight: 400;
    color: #5f5f5f;
}

.avatarContainer {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(145deg, #ffffff, #dfdfdf);
    box-shadow: 5px 5px 7px #cecece,
        -5px -5px 7px #ffffff;
}

.avatarImg {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 51%;
    height: 14rem;
    width: 14rem;
    object-fit: cover;
    border-radius: 50%;
    border: .5rem solid #0000000c;
}

.catSvg {
    position: absolute;
    top: 121%;
    height: 14rem;
    left: 50%;
    transform: translate(-50%, -50%);
}

.underscore {
    font-size: 4rem;
    animation: blinker .7s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}


.allProjectsBtn {
    position: absolute;
    width: 20%;
    height: 8%;
    background: #9350b9;
    bottom: -100rem;
    left: 40%;
    color: #fff;
    border-radius: 4px;
    border: none;
    outline: none;
    box-shadow: 0 5px 10px 0 #d2d2d2;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    font-size: large;
}

.allProjects:active {
    transform: translateY(2px);
}