@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Hebrew:wght@300&display=swap');

.mainComingSoongContainer {
    background-image: url('./bg2.jpg');
    background-size: cover;
    background-position-y: -10rem;
    background-repeat: no-repeat;
    height: 100vh;
}

.csHeading {
    font-size: 56rem;
    letter-spacing: 34px;
    color: #000;
}

.csLogo {
    font-size: 1.8rem;
    cursor: pointer;
    margin-top: 1rem;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    line-height: 23px;
    font-weight: 800;
}

.csLogo .s {
    color: #946B51;
}

.csTitle {
    color: #fff;
    font-family: 'IBM Plex Sans Hebrew', sans-serif;
    font-weight: 600;
    letter-spacing: 5rem;
    text-transform: uppercase;
    position: absolute;
    top: 40%;
    left: 55%;
    width: 80vw;
    transform: translate(-50%, -50%);
}

.csPara {
    color: #946B51;
    font-family: 'IBM Plex Sans Hebrew', sans-serif;
    font-weight: 600;
    bottom: 17%;
    left: 50%;
    transform: translate(-50%, -10%);
    font-size: 18px;
    position: absolute;
}

.notifyArea {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.csInput {
    padding: .6rem 1rem;
    width: 30%;
    border-radius: 2rem;
    border: none;
    outline: none;
    background: #222222;
    color: #fff;
}

.notifyBtn {
    padding: .6rem 3rem;
    border: none;
    color: #fff;
    outline: none;
    border-radius: 2rem;
    position: absolute;
    right: 31%;
    background: #3f201e;
}

.csNavTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    margin: 0 3rem;
}

.csHamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem 2rem;
    position: relative;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    transition: all 0.3s ease-in-out;
    opacity: 75%;
}

.csHamburger:active {
    transform: scale(.8);
}

.line1 {
    width: 30px;
    height: 5px;
    border-radius: 2rem;
    background-color: #fff;
    position: absolute;
    left: 32px;
    top: 8px;
}

.line2 {
    width: 45px;
    height: 5px;
    margin: 3px 0;
    border-radius: 2rem;
    background-color: #fff;
}

.line3 {
    margin-top: 4px;
    width: 30px;
    height: 5px;
    border-radius: 2rem;
    background-color: #fff;
    position: absolute;
    right: 32px;
    bottom: 8px;
}